@import 'tailwindcss';

html,
body {
	overscroll-behavior-y: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

button {
	cursor: pointer;
}

hr {
	height: 1px;
	border: 0;
	background: linear-gradient(in hsl longer hue 90deg, red 0 100%);
}

svg {
	fill: currentColor;
}
